

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here-minimum-32-characters
JWT_VALID_AUDIENCE=https://localhost:5107
JWT_VALID_ISSUER=https://localhost:5107

# Database Configuration
CONNECTION_STRING=Host=localhost;Port=5000;Database=StoreDB;Username=postgres;Password=sa1231321;Pooling=true;SSL Mode=Prefer;Trust Server Certificate=true;
